{% extends 'base.html'%}

{% block title %}Send Report{% endblock %}

{% block content %}
    <br> <br> 
    <h1>Find Total History of a day and sent it via email</h1>
    <div class="mb-5">
        <label for="dateInput" class="form-label">Enter Start Date</label>
        <input id="dateInput" type="date" class="form-control" required>
    </div>
    <div class="mb-6">
        <label for="dateInput2" class="form-label">Enter End Date</label>
        <input id="dateInput2" type="date" class="form-control" required>
    </div>
    <button id="formSubmitBtn" type="submit" class="btn btn-primary" onclick="sendDataMail(event)">Submit</button>

    <div>
        <p id="email-status"></p>
    </div>
    <script>
            function sendDataMail(){
                document.getElementById('email-status').innerHTML = ''

                let startDate = document.getElementById('dateInput').value; 
                let endDate = document.getElementById('dateInput2').value; 
                // console.log(dateinput);
                const url = 'http://127.0.0.1:8000/api/send-report-range/'; // Replace with the actual URL for the send_report_range view

                // Create the start and end date parameters
                // Construct the URL with query parameters
                const urlWithParams = `${url}?start_date=${encodeURIComponent(startDate)}&end_date=${encodeURIComponent(endDate)}`;
                console.log(urlWithParams);
                // Make the fetch request
                fetch(urlWithParams)
                .then(response => {
                    // Handle the response
                    console.log("response: " + response)
                    if (response.ok) {
                        return response.json(); // Parse the response as JSON
                    } else {
                        throw new Error('Error: ' + response.status);
                    }
                })
                .then(data => {
                    // Process the data returned by the server
                    console.log(data);
                    document.getElementById('email-status').innerHTML = "Email sent. check your email"
                })
                .catch(error => {
                    // Handle any errors that occur during the request
                    // document.getElementById('email-status').innerHTML = "Some error occurred"
                    // console.error("Error Occured: " + JSON.stringify(error));
                    // console.error("error: " + error)
                    console.error(error)
                });
            }

    </script>

{% endblock %}


